
body,h1 {
    font-family: "Raleway", sans-serif;
}


body, html {
    height: 100%;
}


.bgimg {
  background-image: url("Dog2.PNG");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

